# Importando bibliotecas

In [1]:
import pandas as pd
import sys
sys.path.insert(1, '../predict_stock_mvp/pre_train/')
import load_data
from datetime import date, datetime
from dateutil.relativedelta import relativedelta

# Criando classe para carregar/salvar/deletar dados
OBS: Estou fazendo com csv, porém essa classe provavelmente irá mudar quando fizermos integrações com os bancos dos clientes.

In [2]:
class conect_data:
    
    def load_table(location_table, name_table, type_table,encoding='ISO-8859-1',sep=';'):
        data = pd.read_csv(f'{location_table}/{name_table}.{type_table}', encoding=encoding, sep=sep)
        return data
    
    def save_table(data, location_table, name_table, type_table):
        data.to_csv(f'{location_table}/{name_table}.{type_table}')
        return data
    
    def del_table():
        pass

In [3]:
conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_describe', 'csv')

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,TIPO_PRODUTO,CATEGORIA_REGULATORIA,CLASSE_TERAPEUTICA
0,104540166,25000025416,(VITAMINAS A ) + ASSSOCIACÕES,MEDICAMENTO,SIMILAR,VITAMINAS E SUPLEMENTOS MINERAIS
1,119350001,25010171858,AC SALICILICO + AC BENZOICO + IODO,MEDICAMENTO,SIMILAR,ANTIMICOTICOS PARA USO TOPICO
2,100470305,25351022805,ALENDRONATO SODICO,MEDICAMENTO,SIMILAR,SUPRESSORES DA REABSORCAO OSSEA
3,104730021,25025007821,ARNICA MONTANA,MEDICAMENTO,FITOTERÁPICO,FITOTERAPICO SIMPLES
4,131750004,25351032631,ARNICA MONTANA L.,MEDICAMENTO,FITOTERÁPICO,FITOTERAPICO SIMPLES
...,...,...,...,...,...,...
29833,100850243,25351062205,BDEXBRAUN,MEDICAMENTO,SIMILAR,HIPNOTICOS
29834,100849958,25351365186,NACFLU,MEDICAMENTO,SIMILAR,EXPECTORANTES BALSAMICOS E MUCOLITICO
29835,138400003,25351439741,ORFADIN,MEDICAMENTO,NOVO,OUTROS PRODUTOS PARA O TRATO ALIMENTAR E METAB...
29836,101800412,25351726949,POMALYST,MEDICAMENTO,NOVO,AGENTE IMUNOSUPRESSOR
29837,135170067,25351564399,ibuprofeno,MEDICAMENTO,GENÉRICO,ANALGESICOS NAO NARCOTICOS

In [4]:
conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_input', 'csv')

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE,CUSTO_DE_AQUISIÇÃO
0,104540166,25000025416,(VITAMINAS A ) + ASSSOCIACÕES,NaN,25/04/2000,01/04/2005,NaN,NaN
1,119350001,25010171858,AC SALICILICO + AC BENZOICO + IODO,NaN,19/05/2000,01/05/2005,NaN,NaN
2,100470305,25351022805,ALENDRONATO SODICO,NaN,04/06/2001,01/05/2006,NaN,NaN
3,104730021,25025007821,ARNICA MONTANA,NaN,19/03/2002,01/03/2007,NaN,NaN
4,131750004,25351032631,ARNICA MONTANA L.,NaN,01/07/2002,01/06/2007,NaN,NaN
...,...,...,...,...,...,...,...,...
29833,100850243,25351062205,BDEXBRAUN,NaN,29/07/2022,NaN,NaN,NaN
29834,100849958,25351365186,NACFLU,NaN,29/07/2022,01/07/2032,NaN,NaN
29835,138400003,25351439741,ORFADIN,NaN,29/07/2022,NaN,NaN,NaN
29836,101800412,25351726949,POMALYST,NaN,29/07/2022,NaN,NaN,NaN
29837,135170067,25351564399,ibuprofeno,NaN,29/07/2022,NaN,NaN,NaN

# Criando cálculo de classificação da curva ABC

In [5]:
input_data = load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_input_mvp', 'csv', sep=None)

../predict_stock_mvp/pre_train\load_data.py:23: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(f'{location_table}/{name_table}.{type_table}', encoding=encoding, sep=sep)

In [6]:
data_a_3_meses = datetime.strptime(input_data.DATA_DE_ENTRADA_DO_ITEM.max(), '%Y-%m-%d').date() + relativedelta(months=-2)
data_a_3_meses

datetime.date(2021, 10, 31)

In [7]:
data_input_a_3_meses = input_data[input_data.DATA_DE_ENTRADA_DO_ITEM >= str(data_a_3_meses)]
data_input_a_3_meses.head()

,NUMERO_REGISTRO_PRODUTO,IDENTIFICADOR_DO_ITEM,NOME_PRODUTO,DATA_DE_PEDIDO_DO_ITEM,DATA_DE_ENTRADA_DO_ITEM,DATA_VENCIMENTO_REGISTRO,QUANTIDADE_ENTRADA,CUSTO_DE_AQUISICAO,DATA_VENCIMENTO
21,10277002,25991014035,BILAGOGO,2021-06-24,2021-10-31,01/01/2005,18,3611,2022-02-20
22,10277002,25991014035,BILAGOGO,2021-07-24,2021-11-30,01/01/2005,13,3611,2022-03-22
23,10277002,25991014035,BILAGOGO,2021-08-24,2021-12-31,01/01/2005,41,3611,2022-04-22
45,100020070,25000008722,CAPTOPRIL,2021-09-11,2021-10-31,01/05/2009,73,2542,2022-01-23
46,100020070,25000008722,CAPTOPRIL,2021-10-11,2021-11-30,01/05/2009,53,2542,2022-02-22

In [5]:
data_ABC = data_input_a_3_meses.groupby(["NUMERO_REGISTRO_PRODUTO"]).agg({"QUANTIDADE":"median",
                                                                          "CUSTO_DE_AQUISICAO":"median"})
data_ABC.head()

                         QUANTIDADE  CUSTO_DE_AQUISICAO
NUMERO_REGISTRO_PRODUTO
100410118                      59.0              4240.0
100430995                      68.0              4060.0
100431012                      40.0              5556.0
100431144                      85.0              5698.0
100431320                     127.0              2543.0

In [6]:
data_ABC["VALOR_ABSOLUTO"] = data_ABC["QUANTIDADE"] * data_ABC["CUSTO_DE_AQUISICAO"]
data_ABC.head()

                         QUANTIDADE  CUSTO_DE_AQUISICAO  VALOR_ABSOLUTO
NUMERO_REGISTRO_PRODUTO
100410118                      59.0              4240.0        250160.0
100430995                      68.0              4060.0        276080.0
100431012                      40.0              5556.0        222240.0
100431144                      85.0              5698.0        484330.0
100431320                     127.0              2543.0        322961.0

In [7]:
data_ABC["PERCENTUAL_ABSOLUTO"] = [(linha.VALOR_ABSOLUTO / data_ABC.VALOR_ABSOLUTO.sum())*100 for idx, linha in data_ABC.iterrows()]
data_ABC = data_ABC.sort_values(by="PERCENTUAL_ABSOLUTO", ascending=False)
data_ABC.head()

,QUANTIDADE,CUSTO_DE_AQUISICAO,VALOR_ABSOLUTO,PERCENTUAL_ABSOLUTO
NUMERO_REGISTRO_PRODUTO,,,,
100680956,174.0,5502.0,957348.0,6.807421
105830102,129.0,5757.0,742653.0,5.280788
103700096,134.0,5403.0,724002.0,5.148166
178170078,119.0,5664.0,674016.0,4.792730
102351284,100.0,5852.0,585200.0,4.161185

In [8]:
data_ABC["PERCENTUAL_ABSOLUTO_ACUMULADO"] = data_ABC.PERCENTUAL_ABSOLUTO.cumsum(axis = 0).values
data_ABC.head()

,QUANTIDADE,CUSTO_DE_AQUISICAO,VALOR_ABSOLUTO,PERCENTUAL_ABSOLUTO,PERCENTUAL_ABSOLUTO_ACUMULADO
NUMERO_REGISTRO_PRODUTO,,,,,
100680956,174.0,5502.0,957348.0,6.807421,6.807421
105830102,129.0,5757.0,742653.0,5.280788,12.088208
103700096,134.0,5403.0,724002.0,5.148166,17.236374
178170078,119.0,5664.0,674016.0,4.792730,22.029104
102351284,100.0,5852.0,585200.0,4.161185,26.190290

In [9]:
ABC = []
for idx, linha in data_ABC.iterrows():
    if int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) <= 80:
        ABC.append("A")
    elif int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) > 80 and int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) <= 95:
        ABC.append("B")
    elif int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) > 95:
        ABC.append("C")

data_ABC["CLASSIFICAÇÃO_ABC"] = ABC
data_ABC.head()

,QUANTIDADE,CUSTO_DE_AQUISICAO,VALOR_ABSOLUTO,PERCENTUAL_ABSOLUTO,PERCENTUAL_ABSOLUTO_ACUMULADO,CLASSIFICAÇÃO_ABC
NUMERO_REGISTRO_PRODUTO,,,,,,
100680956,174.0,5502.0,957348.0,6.807421,6.807421,A
105830102,129.0,5757.0,742653.0,5.280788,12.088208,A
103700096,134.0,5403.0,724002.0,5.148166,17.236374,A
178170078,119.0,5664.0,674016.0,4.792730,22.029104,A
102351284,100.0,5852.0,585200.0,4.161185,26.190290,A

In [10]:
data_ABC.CLASSIFICAÇÃO_ABC.value_counts() / data_ABC.CLASSIFICAÇÃO_ABC.count()

A    0.490909
B    0.254545
C    0.254545
Name: CLASSIFICAÇÃO_ABC, dtype: float64

# Definindo classe do cálculo da curva ABC

In [14]:
class calcule_curve_ABC:
    
    def curve_ABC(data=load_data.conect_data.load_table('../../data/data_ingestion/', 'ingestion.itens_input_mvp', 'csv', sep=None)):
        
        data_a_3_meses = datetime.strptime(data.DATA_DE_ENTRADA_DO_ITEM.max(), '%Y-%m-%d').date() + relativedelta(months=-2)
        data_input_a_3_meses = data[data.DATA_DE_ENTRADA_DO_ITEM >= str(data_a_3_meses)]
        
        data_ABC = data_input_a_3_meses.groupby(["NUMERO_REGISTRO_PRODUTO"]).agg({"QUANTIDADE_ENTRADA":"median","CUSTO_DE_AQUISICAO":"median"})
        data_ABC["VALOR_ABSOLUTO"] = data_ABC["QUANTIDADE_ENTRADA"] * data_ABC["CUSTO_DE_AQUISICAO"]
        data_ABC["PERCENTUAL_ABSOLUTO"] = [(linha.VALOR_ABSOLUTO / data_ABC.VALOR_ABSOLUTO.sum())*100 for idx, linha in data_ABC.iterrows()]
        data_ABC = data_ABC.sort_values(by="PERCENTUAL_ABSOLUTO", ascending=False)
        data_ABC["PERCENTUAL_ABSOLUTO_ACUMULADO"] = data_ABC.PERCENTUAL_ABSOLUTO.cumsum(axis = 0).values
        
        ABC = []
        for idx, linha in data_ABC.iterrows():
            if int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) <= 80:
                ABC.append("A")
            elif int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) > 80 and int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) <= 95:
                ABC.append("B")
            elif int(linha.PERCENTUAL_ABSOLUTO_ACUMULADO) > 95:
                ABC.append("C")

        data_ABC["CLASSIFICACAO_ABC"] = ABC
        data_ABC = data_ABC.reset_index()
        
        load_data.conect_data.save_table(data_ABC, '../../data/data_processed/', 'processed.curve_ABC', 'csv')

In [11]:
calcule_curve_ABC.curve_ABC(input_data)

In [15]:
calcule_curve_ABC.curve_ABC()